<header>
    <div>
            <div class="container">
                <div class="row">
                    <div class="col-2 navheader">
                        <nav>
                            <a href="/">
                                <h2>EarthBNB</h2>
                            </a>
                        </nav>
                    </div>

                    <div class="col-5 navheader">
                        <nav>
                            <a href="/buscar">
                                <h4>Buscar Hoteles</h4>
                            </a>
                        </nav>
                    </div>

                    <div class="col-2 navheader">
                        <nav>
                            <a href="/registrar_u">
                                <h4>Registrarme</h4>
                            </a>
                        </nav>
                    </div>

                    <div class="col-3 navheader">
                        <nav>
                            <a href="/registrar_l">
                                <h4>Registrar un sitio</h4>
                            </a>
                        </nav>
                    </div>
                </div>
            </div>
    </div>
</header>